/**
* --------------------------------
* Contents CSS
* --------------------------------
*/

.hide {display: none !important;}
/* guidetxt */
.guidetxt {
	> ul {
		margin-left: 10px;

		> li {
			line-height: $line-height;
			color: $color4;
			text-indent: -10px;

			& + li {
				margin-top: 2px;
			}
		}
	}

	&.dot {
		> ul {
			> li {
				&:before {
					content: "";
					display: inline-block;
					margin: 9px 6px 0 0;
					width: 3px;
					height: 3px;
					vertical-align: top;
					border-radius: 3px;
					background-color: $color4;
				}
			}
		}
	}

	> p.dot {
		&:before {
			content: "";
			display: inline-block;
			margin: 9px 6px 0 0;
			width: 4px;
			height: 4px;
			vertical-align: top;
			border-radius: 4px;
			background-color: $color3;
		}

		& + p.dot {
			margin-top: 2px
		}
	}
}

/* infotxt */
.infotxt {
	// padding-top: 160px;

	.txt {
		@include font(16px, 26px, 500);

		position: relative;
		text-align: center;
		color: $color3;

		&::before {
			position: static;
			transform: none;
			display: block;
			margin: 0 auto 16px;
			width: 68px;
			height: 68px;
		}
	}
}

/* tooltip */
.tooltip-wrap {
	position: relative;
	display: inline-block;

	.txt {
		display: flex;
    align-items: center;
	}

	.btn-tooltip {
		&::after {
			content:'';
			display: inline-block;
			width: 20px;
			height: 20px;
			vertical-align: top;
			background: url($image-url + 'common/icon_20.svg#plus');
			background-size: 100% 100%;
		}
	}

	.tooltip {
		@include position(auto, 0, auto, 100%);

		display: none;
		margin-bottom: 10px;
		padding: 20px;
		width: 300px;
		border: 1px solid $color1;
		background-color: $color2;
		z-index: 3;

		.tit {
			padding-right: 20px;
		}

		.btn-close {
			@include position(10px, auto, 10px);

			width: 24px;
			height: 24px;
			background: url($image-url + 'common/icon_20.svg#close');
			background-size: 100% 100%;
		}

		.cont {
			margin-top: 10px;

			p {
				line-height: 24px;
			}
		}
	}
}

.inputmsg {
	flex-basis: 100%;
	margin: 8px 0 0 10px;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	color: #e04747;
}

.positive .inputmsg {
	color: $primary1;
}

/* ea-area */
.ea-area {
	position: relative;
	display: inline-block;
	width: 160px;
	height: 48px;
	vertical-align: top;
	overflow: hidden;

	input {
		@include font(14px, 44px, 500);

		padding: 0 16px;
		width: 100%;
		height: 100%;
		text-align: center;
		vertical-align: top;
		background-color: #fff;

		&[readonly='readonly'] {
			color: #d4d4d4;
			-webkit-text-fill-color: #d4d4d4;
			background-color: #f6f6f6;

			~ button {
				opacity: 0.5
			}
		}
	}

	[class^=btn] {
		@include position(0);

		width: 44px;
		height: 44px;
		text-align: left;
		text-indent: -9999px;

		&::after {
			@include position-center;

			content: '';
			width: 18px;
			height: 1px;
			background-color: $color1;
		}
	}

	.btn-down {
		left: 0;
	}

	.btn-up {
		right: 0;

		&::before {
			@include position(50%, 50%);

			content: '';
			width: 18px;
			height: 1px;
			transform: rotate(90deg) translate(-50%, -50%);
			transform-origin: 0 0;
			background-color: $color1;
		}
	}
}

/* card */
.card {
	@include font(10px, 18px, 500);

	display: inline-block;
	position: relative;
	padding: 0 6px;
	vertical-align: top;
	text-align: center;
	color: $color2;
	border-radius: 10px;
	border: 1px solid $primary1;
	background-color: $primary1;

	&.important {
		margin-right: 16px;
		padding-left: 10px;
		padding-right: 12px;
		color: #2DAA67;
		border-color:#2DAA67;
		background-color: #ffffff;

		&::after {
			@include position(4px, null, 7px);

			content: '';
			width: 4px;
			height: 4px;
			background-color: #2DAA67;
			border-radius: 50%;
		}
	}

	&.gray {
		border-color: $color4;
		background-color: $color4;
	}

	&.darkgray {
		border-color: $color3;
		background-color: $color3;
	}

	// line
	&.line {
		color: $primary1;
		background-color: transparent;

		&.gray {
			color: $color4;
			background-color: transparent;
		}

		&.darkgray {
			color: $color3;
			background-color: transparent;
		}
	}
}

/* pagination */
.pagination-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 20px;

	> a {
		display: inline-block;
		position: relative;
		width: 24px;
		height: 24px;
		text-align: center;

		&.btn-prev {
			margin-right: 16px;
		}

		&.btn-next {
			margin-left: 16px;
		}

		.svgicon {
			@include position-center;
		}
	}

	ol {
		display: inline-flex;
		flex-wrap: wrap;
		gap: 0 16px;

		li {
			a {
				@include font(11px, 24px, 500);

				display: inline-block;
				width: 24px;
				height: 24px;
				text-align: center;
				color: $color3;
			}

			&.active {
				display: block;
				border-radius: 12px;
				background-color: $color1;

				a {
					color: $color2;
				}
			}
		}
	}

	.page-total {
		@include font(14px, 32px, 500);

		display: inline-block;
		color: $color5;

		&::before {
			content: '/';
			display: inline-block;
			width: 16px;
			text-align: center;
		}

		em {
			display: inline-block;
			width: 32px;
			height: 32px;
			text-align: center;
		}
	}
}

.pagination-view {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	border-top: 1px solid $color7;
	border-bottom: 1px solid $color7;


	> a {
		@include font(11px, 14px);

		display: flex;
		align-items: center;
		padding: 0 20px;
		width: calc((100% - 120px) / 2);
		height: 40px;

		strong {
			padding: 0 16px;
		}

		&.btn-next {
			justify-content: flex-end;

			&.end {
				color: $color3;
				cursor: default;
			}
		}

		p {
			overflow:hidden;
			text-overflow:ellipsis;
			white-space:nowrap;
			word-break: break-all;
		}
	}
	
	.btns {
		width: 120px;

		.btn {
			width: 100%;
			border-radius: 0;
		}
	}
}

.search-filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 8px 12px;
	border-top: 1px solid $primary2;

	.total {
		color: $color3;

		strong {
			margin-left: 8px;
			margin-right: 2px;
			color: $primary3;
		}
	}

	.sort {
		display: flex;

		.select {
			width: 120px;
			height: 40px;

			.dropdown {
				height: 40px;
				line-height: 38px;

				.icon-select {
					height: 38px;
				}
			}
		}

		input[type="text"] {
			margin: 0 8px;
			width: 240px;
		}

		.btns {
			width: 120px;
		}
	}
}

.nodata {
	padding-top: 80px;
	padding-bottom: 80px;
	text-align: center;

	p {
		position: relative;

		.icon-nodata {
			@include after-icon(0, -250px);
			@include position(0, 50%);

			width: 68px;
			height: 68px;
			transform: translateX(-50%);

			&::after {
				width: 100px;
				height: 100px;
			}
		}

		padding-top: 84px;

		small {
			@include font(16px, 26px, 500);

			display: inline-block;
			color: $color3;
		}
	}
}

// list-board
.list-board {
	@include font(14px, 22px, 500);

	text-align: center;
	border: 1px solid $line-color;
	border-radius: 12px;
	border-collapse: inherit;
	overflow: hidden;

	thead {
		display: none;
	}

	tbody {
		tr {
			&:first-child {
				td {
					border-top: 0;
				}
			}

			&:has(.card.important) {
				td {
					background-color: $color10;
				}
			}

			td {
				border-top: 1px solid $line-color;
				padding: 17px 8px 16px;

				&:first-child {
					padding-left: 20px;
				}

				&:last-child {
					padding-right: 20px;
				}

				&.number {
					font-size: 11px;
					color: $color4;
				}

				&.subject {
					a {
						@include ellipsis(1);
					}

					text-align: left;
				}

				&.file {
					button {
						width: 100%;
						height: 100%;
					}
				}

				&.date {
					@include font(11px, 14px, 400);

					color: $color4;
				}
			}
		}
	}
}

// view-board
.view-board {
	padding-top: 30px;

	.stitle-area  {
		padding-bottom: 20px;
		text-align: center;

		h3 {
			@include font(22px, 34px, 700);

			margin-bottom: 8px;

			.card {
				margin-top: 7px;
				margin-right: 10px;
				vertical-align: top;
			}
		}

		.txt-date {
			@include font(12px, 20px);

			color: $color4;
		}
	}

	.board-area {
		@include font(12px, 20px);

		min-height: 306px;
		padding: 30px 20px;
		border-top: 1px solid $color1;
	}

	.download-area {
		@include font(11px, 14px);

		display: flex;
		align-items: center;
		padding: 16px 20px;
		border-radius: 8px;
		background-color: $color10;

		strong {
			position: relative;
			padding-left: 20px;
			font-weight: 500;
			color: $color3;

			.svgicon-file {
				@include position-center(50%, 0, 0, -50%);
			}
		}

		.file-list {
			display: flex;

			a {
				@include ellipsis(1);

				position: relative;
				padding: 0 12px;
				word-break: break-all;

				& + a {
					@include before-line(1px, 12px, $color: $color7);

					&::before {
						@include position-center(50%, 0, 0, -50%);
					}
				}
			}
		}
	}
}

.toastpopup {
	@include position-center;
	width: calc(100% - 40px);
	padding: 8px 20px;
	text-align: center;
	border-radius: 4px;
	background: linear-gradient(95deg, rgba(70, 115, 255, 0.95) 0%, rgba(74, 174, 120, 0.95) 100%);
	box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.15);
	opacity: 0;
	pointer-events: none;
	transition: all .2s ease-in-out;

	p {
		@include font(12px, 20px, 500);
		color: $color2;
	}

	&.active {
		opacity: 1;
		pointer-events: auto;
	}

	&.out {
		transition: all .8s ease-in-out;
		opacity: 0;
	}
}
body.date-open {
	.daterangepicker {
		position: fixed !important;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%) !important;

		&.single {
			width: 320px !important;
		}

		width: 642px !important;
	}
}

/* loadding */
.loading-area {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;

	.loading {
		@include position-center;

		width: 80px;
		height: 80px;
		z-index: 1;

		div {
			transform-origin: 40px 40px;
			animation: loadding-spinner 1s linear infinite;

			&::after {
				content: '';
				display: block;
				position: absolute;
				top: 7px;
				left: 37px;
				width: 6px;
				height: 16px;
				border-radius: 20%;
				background: $primary1;
			}

			&:nth-child(1) {
				transform: rotate(0deg);
				animation-delay: -0.9s;
			}
			&:nth-child(2) {
				transform: rotate(36deg);
				animation-delay: -0.8s;
			}
			&:nth-child(3) {
				transform: rotate(72deg);
				animation-delay: -0.7s;
			}
			&:nth-child(4) {
				transform: rotate(108deg);
				animation-delay: -0.6s;
			}
			&:nth-child(5) {
				transform: rotate(144deg);
				animation-delay: -0.5s;
			}
			&:nth-child(6) {
				transform: rotate(180deg);
				animation-delay: -0.4s;
			}
			&:nth-child(7) {
				transform: rotate(216deg);
				animation-delay: -0.3s;
			}
			&:nth-child(8) {
				transform: rotate(252deg);
				animation-delay: -0.2s;
			}
			&:nth-child(9) {
				transform: rotate(288deg);
				animation-delay: -0.1s;
			}
			&:nth-child(10) {
				transform: rotate(324deg);
				animation-delay: 0s;
			}
		}
	}

	&.cont {
		position: relative;
		padding: 20px 0;
		height: 120px;
	}
}

article.coarchmark {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	z-index: 1000;
	display: none;

	&::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    transition: opacity 500ms 200ms;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
	}

	&.active {
		display: block;
	}

	>.close-btn {
		@include svg-icon('close', 24, $color: $color2);
		position: absolute;
		top: 0px;
		right: 0px;
		width: 64px;
		height: 64px;
		z-index: 10;

		.svgicon {
			@include position-center;
		}
	}

	.inner {
		position: relative;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.cont {
			&:has(.step2.active) {
				.finger {
					display: block;
					top: 325px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			&:has(.step3.active) {
				.finger {
					display: block;
					top: 325px;
					right: 296px;
					left: auto;
				}
			}
			.finger {
				position: absolute;
				top: 325px;
				left: 304px;

				.circleout {
					position: absolute;
					top: 1px;
					left: 6px;
					display: block;
					width: 27px;
					height: 27px;
					border-radius: 50%;
					border: 2px solid #26D2B4;
					animation: blink 2s infinite ;
					animation-delay: .2s;
				}
				.circlein {
					position: absolute;
					top: 6px;
					left: 11px;
					display: block;
					width: 17px;
					height: 17px;
					border-radius: 50%;
					background-color:#26D2B4;
					animation: blink 2s infinite;
				}
				object {
					position: relative;
					z-index: 1;
				}
			}
			@keyframes blink {
				0% {
					opacity: 1;
				}
				50% {
					opacity: 0;
				}
				100% {
					opacity: 1;
				}
			}
		}

		.step {
			display: none;

			&.active {
				display: block;
			}
		}

		> a.link {
			@include svg-icon('arrowright1', 12, $color: $color2 ,$url: $svg12, $margin: 5px 0 0 2px);
			position: absolute;
			bottom: 30px;
			right: 20px;
			color: $color2;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px; 
			display: none;

			&.active {
				display: block;
			}
		}

		.btns {
			position: absolute;
			bottom: 30px;
			left: 50%;
			transform: translateX(-50%);
			width: 288px;

			.btn {
				box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.18);
				border-radius: 999px;
			}

			.close-btn {
				color: $primary3;
				border-color: $color2;
				background: rgba(243, 247, 254, 0.80);
			}

			.next-btn {
				border-color: $green5;
				background: $green1;
			}
		}
	}
}

@keyframes loadding-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}