/**
* --------------------------------
* error
* --------------------------------
*/

@import
	"./abstracts/variables",
	"./abstracts/functions",
	"./abstracts/mixins";

.error {
	.error-wrap {
		text-align: center;
		padding: 168px 0;

		p {
			@include background(0, 0 , $url: $image-url+'common/error.png', $size: 120px);

			padding-top: 112px;
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			background-position: center top;

			strong {
				@include after-line(7px, 7px, $color: $primary1);

				margin-bottom: 8px;
				padding-right: 12px;
				display: inline-block;
				font-size: 20px;
				font-weight: 500;
				line-height: 30px;

				&::after {
					border-radius: 50%;
					top: auto;
					left: auto;
					bottom: 7px;
					right: 0;
				}
			}
		}

		.btns {
			margin-top: 30px;

			.btn {
				flex: none;
				width: 156px;
			}
		}
	}
}
