/**
* --------------------------------
* Override
* --------------------------------
*/
@import
"./abstracts/variables",
"./abstracts/functions",
"./abstracts/mixins";

@mixin ellipsis-multi($line,$lh){display:-webkit-box;-webkit-line-clamp:$line;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;max-height:$line*$lh;white-space:normal;}

.membership-override {
  &.application:not(.assignment) {
      .form-entry {
          .tit {padding-top:30px;
              &:first-of-type {padding-top:10px;}
          }
      }
  }
}

.contract-override{
  // 계약상세 계약 정보 추가
  &.view{
      .membership-list {
    .membership-wrap {
              .contract-info2 {
                  .item-title {
                      padding: 0 8px;
                      display: flex;
                      justify-content: space-between;
                      align-items: center;

                      .btn:has(.svgicon-refresh) {
                          background-color: $color2;

                          .svgicon-refresh {
                              vertical-align: middle;
                          }
                      }

                      >strong {
                          display: inline-flex;
                          align-items: center;
                          font-size: 24px;
                          font-weight: 700;
                          line-height: 36px
                      }
                  }
                  .info-wrap {
          .payment-info {
            margin-top: 30px;
            border-radius: 12px;
            overflow: hidden;
            border: 1px solid $color7;
            background-color: $color2;

            &:has(.form-entry.cont) {
              > li {
                &:not(.table-head){
                  flex-direction: column;
                  gap: 0;
                }
              }
            }

            &.contract {
              overflow: visible;

              > li {
                justify-content: space-between;
                gap: 10px;
                                  background-color: transparent;

                                  &:first-of-type {
                                      padding-top:24px;
                                  }

                &.table-head {
                  border-radius: 8px 8px 0 0;
                }

                &:has(.wrap) {
                  align-items: flex-start;
                  flex-direction: column;

                  .wrap {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;

                    &::before {
                      content: none;
                    }

                    > span {
                      @include svg-icon('rightangle', 16, $url: 'common/icon_16.svg',$margin: 4px 4px 0 0);
                      display: block;
                      width: calc(100% - 410px);
                      color: #596584;
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 22px;

                                              .svgicon-rightangle {
                                                  background: url("/static/imgs/sales/common/icon_16.svg#rightangle");
                                              }
                    }
                  }
                }

                .right {
                  display: flex;
                  align-items: center;

                  >div:not(.select) {

                    display: inline-block;
                                          position: relative;
                                          padding-right: 84px;
                    margin-left: 32px;

                    strong {
                      display: inline-block;
                      text-align: center;
                      min-width: 120px;
                      font-size: 14px;
                      font-weight: 700;
                      line-height: 30px;
                                              @include before-line(1px, 20px, $margin: 5px 0 0 0 ,$color: $color7);

                      &.outstanding {
                        color: #E4AC1B;
                      }
                    }

                    &:has(.btn) {
                      strong {
                        min-width: 120px;
                      }
                    }
                  }

                  .btn {
                                          position: absolute;
                                          right: 0;
                                          top: 50%;
                                          margin-top: -15px;
                    width: 84px;
                    padding: 0 12px;
                    height: 30px;
                    line-height: 28px;
                    font-size: 11px;
                    font-weight: 500;
                  }
                }

                .select {
                  width: 200px;
                }

                .select.full {
                  width : 416px;
                }

              }

            }

            &.payment {
              > li {
                &.table-head {
                  > p {
                    color: $color1;
  
                    strong {
                      margin-right: 2px;
                    }
                  }

                  &.end {
                    > p {
                      color: $primary1;
                    }
                  }
                }

                > p { 
                  span {
                    font-weight: 600;
                  }
                }
              }
            }

            > li {
              position: relative;
              display: flex;
              gap: 12px;
              padding: 10px 32px;
              align-items: center;
              background-color: $color2;

              &+li {
                &::before {
                  position: absolute;
                  top: 0;
                  left: 50%;
                  transform: translateX(-50%);
                  content: '';
                  width: calc(100% - 64px);
                  display: block;
                  border-top: 1px dashed $color7;
                }
              }

              &:last-of-type {
                padding-bottom: 24px;
                border-radius: 0 0 10px 10px;
              }

              &+.table-head {
                margin-top: 12px;
              }

              &.table-head {
                padding: 12px 32px;
                background-color: $color9;
                border-top: none;

                &::before {
                  content: none;
                }

                &+.table-head {
                  border-top: 1px solid $color7;
                  margin-top: 0px;
                }

                >span {
                  color: $color1;
                  font-size: 16px;
                  font-weight: 700;
                  line-height: 26px;
                  
                  strong {
                    color: $primary1;
                  }
                }

                > p { 
                  color: $primary1;
                  font-size: 18px;
                  font-weight: 400;
                  line-height: 28px;

                  strong {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 30px; 
                  }
                }

                &+li {
                  margin-top: 14px;

                  &::before {
                    content: none;
                  }
                }
              }

              &:has(.date) {
                gap: 0;
              }

              &.point {
                >span,
                >p {
                  color: $green4;
                }
              }

              >span {
                display: block;
                width: 160px;
                color: $color3;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
              }

              >p {
                width: calc(100% - 172px);
                color: $primary2;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                text-align: right;

                span {
                  display: inline-block;
                  margin-right: 2px;
                  font-weight: 700;
                }

                strong {
                  display: inline-block;
                  font-weight: 700;

                  &+strong {
                    margin-left: 12px;
                  }
                }

                &.remittance {
                  color: $green4
                }
              }

              >div {
                &+div {
                  @include before-line(1px, 20px,$margin: 2px 0 0 0, $color: $color9);
                }
              }

              .amount {
                width: 265px;
                padding-right: 32px;
                margin-left: 18px;

                p {
                  color: $primary2;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 26px;
                  text-align: right;

                  strong {
                    display: inline-block ;
                    font-weight: 700;
                    margin-right: 2px; 
                  }
                }
              }

              .status {
                display: flex;
                gap: 12px;
                padding: 0 32px;
                width: 216px;
                align-items: center;
                justify-content: center;

                p {
                  font-size: 14px;
                  font-weight: 700;
                  line-height: 22px;
                }

                button {
                  @include svg-icon('receiptdetail', 16, $url: 'common/icon_16.svg',$margin: 6px 4px 0 0, $color: $primary2);

                  height: 30px;
                  line-height: 28px;
                  padding: 0 8px;
                  border-color: $color4;
                  font-size: 11px;
                  font-weight: 500;

                  &:disabled {
                    @include svg-icon('receiptdetail', 16, $url: 'common/icon_16.svg',$margin: 6px 4px 0 0, $color: $disable4);
                  }
                }

                &.outstanding  {
                  color: #E4AC1B;
                }
              }

              .date {
                padding-left: 32px;
                width: 170px;

                span {
                  color: $color3;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                }
              }
            }
          }
        }
              }

              .contract-info3 {
                  .item-title{align-items:center;
                      .btn{padding:11px 12px;background-color: $color2;border-color: $color7;
                          .svgicon-refresh{
                              width: 16px;
                              height: 16px;
                              background: url('/static/imgs/sales/common/icon_16.svg#refresh');
                          }
                      }
                  }

                  .info-wrap {
                      .payment-info {
                          margin-top: 30px;
                          border-radius: 12px;
                          overflow: hidden;
                          border: 1px solid $color7;
                          background-color: $color2;

                          >li {
                              position: relative;
                              display: flex;
                              flex-direction: column;
                              gap: 12px;
                              padding: 10px 32px;
                              align-items: flex-start;
                              background-color: $color2;

                              &+li {
                                  &::before {
                                      position: absolute;
                                      top: 0;
                                      left: 50%;
                                      transform: translateX(-50%);
                                      content: '';
                                      width: calc(100% - 64px);
                                      display: block;
                                      border-top: 1px dashed $color7;
                                  }
                              }

                              &:last-of-type {
                                  padding-bottom: 24px;
                              }
                              &:first-of-type {
                                  padding-top: 24px;
                              }

                              .head{
                                  display:flex;
                                  justify-content:flex-end;
                                  align-items:center;
                                  gap:0 32px;
                                  width:100%;
                                  .sub-tit{margin-right:auto;max-width:calc(100% - 284px - 64px);font-weight:400;}
                                  .select{width:200px;}
                                  .btn{width:84px;height:30px;font-size:11px;line-height:28px;
                                      &.bt-resend{height:40px;line-height:38px;}
                                  }
                              }

                              .inductees{
                                  display:flex;
                                  justify-content:flex-end;
                                  align-items:center;
                                  gap:0 32px;
                                  width:100%;
                                  &::before{
                                      width:7px;height:7px;background-color:transparent;border:1px solid $color3;border-top-width:0;border-right-width:0;top:50%;margin-top:-5px;left:6px;
                                  }
                                  .name {padding-left:20px;margin-right:auto;max-width:calc(100% - 284px - 64px);color:$color3;}
                                  .box{
                                      display:flex;
                                      justify-content:flex-end;
                                      align-items:center;
                                      position:relative;
                                      min-height:40px;
                                      &::before{
                                          content:'';width:1px;height:20px;background-color:$color9;position:absolute;left:0;top:50%;margin-top:-10px;
                                      }
                                      .text{width:120px;text-align:center;}
                                      .btn{width:84px;height:30px;font-size:11px;line-height:28px;}
                                  }
                              }
                          }
                      }
                  }
              }
    }
    .membership-item{
      .info-list{
        .info-item{
        ul{
          li{
          >p{width:calc(100% - 82px);}
          }
          &.company{
          li{
            >span{width:90px;}
            >p{width:calc(100% - 106px);}
          }
          }
        }
        }
      }
      }
    }
  .btns{
    &.bottom{
      .btn {max-width:294px;}
    }
  }
  }
  // 계약관리 목록 툴팁 정렬 수정
  .list-board{
      .contract-list{
          li{
              .product{
        div {
          &.info {position:relative;text-align:left;width:calc(100% - 150px);margin-left:-21px;
            &::before{
              content:'';width:21px;height:100%;background-color: $color5;position:absolute;left:0;top: 50%;
              transform: translateY(-50%);z-index:1;
            }
            p {
              @include before-line(1px, 10px,$color: $color7);

              display: inline-block;
              padding-left: 21px;
              margin-left: 0;
              color: $color3;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;

              &::before {
                top: 50%;
                transform: translateY(-50%);
                left: 10px;
              }

              &:first-of-type {
                padding-left: 21px;
                margin-left: 0;

                &::before {
                  content: '';
                }
              }

              span {
                margin-left: 4px;
                color: $color1;
                font-weight: 500;
                line-height: 22px;
              }
            }
          }
        }
                  .tooltip-wrap{
                      .tooltip {
                          .cont{text-align:left;
                              p{display:block;}
                          }
                      }
                  }
              }
          }
      }
  }
}

.customer-override{
	//가망고객 관리 레이블 추가
	.list-content {
		.inner{
			.list-area{
				.customer-list{
					.list-item{
						a{
							div{
								&.badge{
									//입회검토중
									&.check{
										span{color:$primary3;}
									}
									//타사원관리중
									&.other{
										span{color:$green4;}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.membership {
  // 전체보기
  &.total-new{
    .btn{
      &.green{background-color:$green1;border-color:$green1;}
    }
    .btns{
      &.bottom{
        .btn{
          flex: none;
          border-radius: 24px;
          padding: 0 20px;
          background-color: $primary4;
          border-color: #6187FF;
          box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.18);
          em{
            border-color: $color9;
            background-color: $color2;
            color:$primary1;
          }
        }
      }
    }
    .filter-area{
      .form-select{
        .current{
          &.select-bg{background-color:$color10;}
        }
        &.membership {
          .current {
            &::before {
              background-position: -250px -200px;
            }
          }
        }
      }
    }
    .item{text-align:center;
      .thumb-box{position:relative;
        .thumb{display:flex;justify-content:center;height:220px;
          //.img{box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);}
          .img{width:auto;height:220px;}
        }
        .box{position:absolute;right:33px;top:0;display:flex;flex-direction:column;gap:4px 0;}
        .badge{width:36px;height:36px;border-radius:50%;
          border:2px solid #ACF;
          background:$primary3;
          box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);
          display:inline-flex;align-items:center;justify-content:center;
          @include font(12px, 20px, 500);color:$color2;
          &.combine{border-color:$green3;background-color:$green1;}
        }
      }
      .info-box{margin:20px auto 0;
        .name{height:52px;@include font(18px, 26px, 500);color:$color0;display:inline-flex;align-items:center;
          .text{@include ellipsis-multi(2,26px);}
        }
        .price-box{display:flex;justify-content:center;align-items:center;margin-top:8px;
          .price{color:$primary3;@include font(22px, 34px, 700);}
          .won{color:$primary3;@include font(16px, 26px, 500);margin-left:1px;}
          .vat{color:$color4;@include font(12px, 20px, 400);margin-left:2px;}
        }
        .btn-box{display:flex;gap:0 4px;justify-content:center;
          .btn{
            &.check{
              display:inline-flex;justify-content:center;align-items:center;cursor:pointer;
              input[type=checkbox] + span {
                padding-left:24px;
                &::before{
                  content:'';
                  display:inline-flex;width:16px;height:24px;
                  background-image: url(../../../static/imgs/sales/common/compare_check.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  text-indent: -999em;
                  font-size: 0;
                  line-height: 0;
                }
              }
              input[type=checkbox]:checked + span {
                color:$color2;
                &::before{
                  filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(106%) contrast(105%);
                }
              }
            }
            &.small{
              input[type=checkbox] + span {
                padding-left:16px;
                @include font(11px, 24px, 500);
                &::before{
                  width:12px;
                }
              }
            }
          }
          .btn:has(input[type="checkbox"]:checked) {
            color: $color2;
            border-color: $primary2;
            background-color: $primary2;
          }
        }
      }
    }
    .membership-list2{display:flex;flex-direction:column;gap:20px 0;margin:0 32px;
      .wrap{padding:16px 20px;border-radius:12px;background-color:$color2;
        .golf{position:relative;min-height:60px;padding:12px 20px 20px;
          .logo{position:absolute;left:20px;top:50%;transform:translateY(-50%);display:flex;align-items:center;justify-content:center;width:60px;height:60px;overflow:hidden;border-radius:50%;background-color:$color11;text-align:center;
            img{max-width:calc(100% - 14px);}
          }
          .info{display:flex;flex-direction:column;gap:6px 0;width:calc(100% - 200px);margin:0 80px;
            .name{@include font(20px, 30px, 700);color:$color1;}
            .location{display:flex;gap:0 20px;padding:4px 0;
              li{position:relative;@include font(12px, 20px, 400);color:$color3;
                &::before{content:'';position:absolute;left:-16px;top:50%;margin-top:-6px;
                  width: 12px;
                  height: 12px;
                  background: none;
                  background-color: #8f97b2;
                  -webkit-mask-image: url(../../../static/imgs/sales/common/icon_20.svg#arrowright);
                  mask-image: url(../../../static/imgs/sales/common/icon_20.svg#arrowright);
                }
                &:first-child{
                  &::before{display:none;}
                }
                &.last{color:$color0;
                  .total{padding:0 2px;color:$primary4;font-weight:700;}
                }
              }
            }
          }
          .btn-detail{position:absolute;right:20px;top:20px;display:flex;align-items:center;gap:0 2px;
            @include svg-icon('arrowright',12, $color: $color4);
            .text{color:$color4;@include font(11px, 14px, 500);}
          }
        }
        .list{display:flex;flex-wrap:wrap;gap:50px 28px;padding:30px 10px;border-top:1px solid $color8;
          .item{position:relative;width:calc((100% - 56px) / 3);max-width:260px;
            &::before{content:'';position:absolute;bottom:24px;left:50%;z-index:0;transform:translateX(-50%);width:260px;height:260px;border-radius:50%;background-color:$color11;}
            .thumb-box{z-index:1;max-width:260px;padding:14px 0 0;margin:0 auto;}
            .info-box{position:relative;z-index:1;max-width:244px;margin:20px auto 0;
              .btn-box{
                .btn{width:120px;margin:16px 0 0;border-radius:20px;}
              }
            }
            &.combine{
              &::before{background-color:$green2;}
              .thumb-box{
                .box{right:11px;}
              }
            }
          }
        }
      }
    }
    .recommend-area{position:relative;padding:40px 0 0;margin-top:40px;background-color:$color2;
      .title{padding:0 32px;@include font(20px, 30px, 700);color:$color1;}
        .swiper-button-next,
        .swiper-button-prev {
          @include svg-icon('arrowright', 16, $color: $color3, $url: 'common/icon_16.svg');
          margin-top: 0;
          top: 40px;
          left: auto;
          right: 68px;
          background-color: $color2;
          border: 1px solid $color9;
          border-radius: 4px;
          width: 28px;
          height: 28px;

          .svgicon {
            @include position-center;
          }

          &::after {
            content: none;
          }
        }

        .swiper-button-next {
          right: 32px;
          left: auto;
        }

        .swiper-button-prev {
          .svgicon {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      .list{padding:30px 32px;
        .item{width:232px;padding:30px 16px 16px;border-radius:8px;border:1px solid $color9;background-color:$color10;
          .thumb-box{
            .box{right:0;top:-14px;}
          }
          .info-box{
            .name{height:52px;@include font(16px, 24px, 500);}
            .price-box{
              .price{@include font(18px, 28px, 700);}
              .won{@include font(14px, 22px, 500);margin-left:0;}
            }
            .btn-box{margin-top:16px;
              .btn{width:calc(50% - 2px);}
            }
          }
        }
      }
    }
  }

  // 골프장 상세
  &.view-new{
    .tab-area{
      display: flex;
      position:fixed;left:0;top:0;z-index:2;
      width:100%;height:44px;padding:7px 0;
      border-top: 1px solid rgba(0, 35, 148, 0.20);
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
      background: linear-gradient(90deg, rgba(78, 226, 167, 0.80) 0%, rgba(18, 167, 225, 0.80) 100%);
      .view-select{
        .golflist{height:28px;width:151px;
          .current{position:relative;height:28px;padding:4px 23px 4px 12px;background-color:$color2;border-radius:14px;background: rgba($color2, 0.50);cursor:pointer;
            &::after{
              background-image: url(../../../static/imgs/sales/common/icon-arrow-view.svg);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              text-indent: -999em;
              font-size: 0;
              line-height: 0;
              content: '';
              width: 12px;
              height: 12px;
              position:absolute;
              right:8px;
              top:50%;
              margin-top:-6px;
              transition: all .125s ease-in-out;
            }
            .selected{@include ellipsis(1);color:$primary3;@include font(12px, 20px, 700);}
          }
          .box{opacity:0;height:0;overflow:hidden;padding:0 8px 4px 12px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;background-color:$color2;
            .list{
              li{padding:4px 0;
                .name{display:block;color:$primary3;@include font(12px, 20px, 400);}
                &.brand{padding:11px 0 12px;border-top:1px solid $color9;
                  &:first-of-type{padding-top:6px;border-top-width:0;}
                  &:last-child{padding-bottom:0;}
                  .name{font-weight:500;}
                  .sub{
                    li{padding:0;margin-top:8px;}
                    .name{color:$color1;@include font(11px, 16px, 400);}
                  }
                }
              }
            }
          }
          &.open{
            .current{border-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0;background: rgba($color2, 1);
              &::after{transform:rotate(180deg);}
            }
            .box{opacity:1;height:auto;
              transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;transform-origin: 50% 0;}
          }
        }
      }
      .view-tab{position:relative;flex : 1 1 auto;width:100%;
        .swiper-button-prev,
        .swiper-button-next {top:50%;margin-top:-12px;width:24px;height:24px;background-color:$color2;box-shadow: 3px 3px 6px 0px rgba(11, 14, 64, 0.15);border-radius:99px;
          @include svg-icon('arrowleft2', 12, $url: $svg12);
          &::after {display: none;}
          &.swiper-button-disabled {opacity:0;}
        }
        .swiper-button-prev {left:8px;
          .svgicon{margin:4px 0 0 4px;}
        }
        .swiper-button-next {right:8px;
          .svgicon {transform:rotate(180deg);margin:-4px 4px 0 0;}
        }
        .swiper-slide{position:relative;width:auto;padding:3px 20px;cursor:pointer;
          &::before{content:'';position:absolute;left:0;top:50%;margin-top:-8px;width:1px;height:16px;background-color:$color2;opacity:.3;}
          &:first-of-type{
            &::before{display:none;}
          }
          .btn-tab{display:block;min-width:108px;color:$color2;@include font(14px, 22px, 500);text-align:center;cursor:pointer;opacity:.7;}
          &.swiper-slide-thumb-active{
            .btn-tab{font-weight:700;opacity:1;}
          }
        }
      }
      .view-select:has(.golflist) {
        padding-left:10px;
        + .view-tab {width:calc(100% - 161px)}
      }
    }
    .detail-area{padding-top:44px;
      .swiper-slide{min-height:calc(100vh - 78px);
        .img + .img{margin-top:34px;}
        .video{position:relative;pointer-events:none;max-width:none;max-height:none;width:100%;height:calc(100vh - 44px);
          iframe, object, embed{pointer-events:none;position:absolute;top:0;left:0;width:100% !important;height:100% !important;border:none 0;padding:0;margin:0;}
        }
        .gallery{display:flex;align-items:center;justify-content:center;width:100%;height:calc(100vh - 44px);
          .btn-gallery{padding-left:30px;padding-right:30px;
            @include svg-icon('arrowright',16, $color: $color2, $margin: 14px 0 0 8px);
          }
        }
      }
    }
    .box-application{position:fixed;right:32px;bottom:40px;z-index:10;width:220px;
      .bt-application{position:relative;z-index:1;display:flex;justify-content:space-between;align-items:center;
        width:220px;height:46px;padding:0 11px 0 19px;border:1px solid $green5;background-color:$green1;
        box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.15);border-radius:99px;
        color:$color2;@include font(16px, 26px, 500);text-align:left;
        @include svg-icon('accordionarrow', 16, $color: $color2, $url: 'common/icon_16.svg');
        .svgicon{transition: all .125s ease-in-out;}
      }
      .list{position:absolute;bottom:0;left:0;width:100%;padding:8px 12px 8px 20px;border-radius:12px;border:1px solid $color9;background:$color2;
        opacity:0;height:0;overflow:hidden;
        ul{display:flex;flex-direction:column;gap:8px 0;max-height:298px;overflow-y:auto;
          li{@include font(16px, 26px, 500);}
        }
      }
      &.open{
        .bt-application{
          .svgicon{transform:rotate(180deg);}
        }
        .list{bottom:50px;opacity:1;height:auto;
          transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity 0.1s linear;transform-origin: 50% 0;
        }
      }
    }
  }

  // 골프장 추천
  &.recommend-new{
    .title-area {display:flex;justify-content:space-between;align-items:center;
      .tit {color:$color1;}
      .btn {
        @include svg-icon('prospective', 16, $margin: 5px 4px 0 0, $url: $svg16, $color: $color2);
        border-radius:999px;padding:0 12px;
      }
    }
    .recommend-area{
      .btns{
        &.bottom{padding-left:32px;padding-right:32px;border-top:1px solid $color9;
          .btn-skip{width:auto;}
        }
      }
    }
  }

  .recommends{display:flex;flex-wrap:wrap;gap:16px;
    .item{width:calc((100% - 32px) / 3);max-width:288px;padding:31px 15px 15px;background-color:$color2;border-radius:8px;border: 1px solid $color9;
      .thumb-box {position: relative;
        .thumb {display:flex;justify-content:center;height:220px;
          .img{box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);}
          .img {width:auto;height:220px;}
        }
        .box{position:absolute;right:0;top:-14px;display:flex;flex-direction:column;gap:4px 0;}
        .badge{width:36px;height:36px;border-radius:50%;
          border:2px solid #ACF;
          background:$primary3;
          box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);
          display:inline-flex;align-items:center;justify-content:center;
          @include font(12px, 20px, 500);color:$color2;
          &.combine{border-color:$green3;background-color:$green1;}
        }
      }
      .info-box {margin:20px auto 0;text-align:center;
        .name {display:flex;align-items:center;max-width:200px;height:52px;margin:0 auto;
          .text {width:100%;
            @include font(16px, 24px, 500);
            color:$color0;
            @include ellipsis-multi(2, 24px);
          }
        }
        .price-box {display:flex;justify-content:center;align-items:center;margin-top:8px;padding:1px 0;
          .price {color:$primary3;@include font(18px, 28px, 700);}
          .won {color:$primary3;@include font(14px, 22px, 500);margin-left:1px;}
          .vat {color:$color4;@include font(11px, 20px, 400);margin-left:2px;}
        }
        .btn-box {display:flex;gap:0 4px;justify-content:center;max-width:200px;margin:16px auto 0;
          .btn {width:calc((100% - 4px) / 2);
            &.check {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              input[type=checkbox] + span {
                padding-left: 24px;
                &::before {
                  content: '';
                  display: inline-flex;
                  width: 16px;
                  height: 24px;
                  background-image: url(../../../static/imgs/sales/common/compare_check.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  text-indent: -999em;
                  font-size: 0;
                  line-height: 0;
                }
              }

              input[type=checkbox]:checked + span {
                color: $color2;

                &::before {
                  filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(106%) contrast(105%);
                }
              }
            }
            &.small {
              input[type=checkbox] + span {
                padding-left: 16px;
                @include font(11px, 24px, 500);
                &::before {
                  width: 12px;
                }
              }
            }
          }
          .btn:has(input[type="checkbox"]:checked) {
            color: $color2;
            border-color: $primary2;
            background-color: $primary2;
          }
        }
        .tooltip-wrap {margin-top:16px;@include svg-icon('warning', 12, $url: 'common/icon_12.svg',$margin: 4px 4px 0 0, $color: #AB61FF);
          position: relative;
          z-index: 1;
          .hide {display: none;font-size: 0;}
          .btn-tooltip {vertical-align: top;
            color:#AB61FF;
            @include font(12px, 20px, 500);
            &::after {content: none;}
          }
          .tooltip {
            margin-bottom: 0;
            width: 274px;
            bottom: 36px;
            padding: 16px;
            right: auto;
            left: 50%;
            margin-left:-137px;
            border-radius: 12px;
            border: 1px solid $primary4;
            box-shadow: 2px 2px 3px 0px rgba(11, 14, 64, 0.25);
            z-index: 2;

            .tit{
              font-size: 16px;
              font-weight: 700;
              line-height: 26px; 
              text-align: left;

              .btn-close {
                @include svg-icon('close', 16, $url: 'common/icon_20.svg');

                background: none;
                top: 21px;
                right: 16px;
                width: 16px;
                height: 16px;
              }
            }

            .cont {
              p {
                color: $color3;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
              }
            }
          }
          &.partial{@include svg-icon('warning', 12, $url: 'common/icon_12.svg',$margin: 4px 4px 0 0, $color: #E4AC1B);
            .btn-tooltip{color:#E4AC1B;}
          }
        }
      }
    }
  }

  // 골프장 추천 결과
  &.result-new{
    .btn{
      &.green{background-color:$green1;border-color:$green1;}
    }
    .btns{
      &.bottom{
        .btn{
          flex: none;
          border-radius: 24px;
          padding: 0 20px;
          background-color: $primary4;
          border-color: #6187FF;
          box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.18);
          em{
            border-color: $color9;
            background-color: $color2;
            color:$primary1;
          }
        }
      }
    }
    .title-area {
      .btn {
        @include svg-icon('listallview', 16, $margin: 5px 4px 0 0, $url: $svg16);
        border-radius:999px;padding:0 12px;
      }
    }
    .filter-area{position:relative;flex-direction:column;align-items:center;gap:16px;padding:30px 0;
      &::before{content:'';position:absolute;left:32px;top:0;width:calc(100% - 64px);height:1px;background-color:$color9;}
      .txt-dot {
        @include font(22px, 34px);
        @include after-line(6px, 6px, $color: $primary1);

        display: inline-block;
        padding-right: 8px;

        &::after {
          border-radius: 50%;
          top: auto;
          bottom: 8px;
        }

        strong {
          color: $primary3;
          margin-right: 4px;
        }
      }
      .filter-box{flex:none !important;display:flex;gap:0 10px;height:auto !important;
        .btn-filter{display:inline-flex;justify-content:center;align-items:center;width:34px;height:34px;border-radius:99px;border:1px solid $color9;background-color:$color10;
          @include svg-icon('filter', 20, $url: $svg20);
        }
        .filter-list{max-width:748px;
          .swiper-slide{width:auto;}
          .item{display:flex;align-items:center;height:34px;padding:5px 12px 5px 15px;border-radius:17px;border:1px solid $primary5;background-color:rgba(243, 247, 254, 0.80);cursor:pointer;
            &::after{
              background-image: url(../../../static/imgs/sales/common/icon-arrow-view2.svg);
              background-repeat: no-repeat;
              background-size: contain;
              background-position: center;
              text-indent: -999em;
              font-size: 0;
              line-height: 0;
              content: '';
              width: 16px;
              height: 16px;
              margin-left:8px;
            }
            .tit{color:$primary3;@include font(14px, 22px, 500);}
            .count{min-width:19px;padding:0 6px;background-color:$primary4;border-radius:99px;color:$color2;@include font(11px, 18px, 700);margin-left:2px;}
          }
          .swiper-new-prev,
          .swiper-new-next {display:flex;align-items:center;position:absolute;top:50%;margin-top:-17px;width:84px;height:34px;z-index:2;
            .bt{position:relative;z-index:1;width:24px;height:24px;background-color:$color2;border:1px solid $color9;border-radius:999px;font-size:0;line-height:0;
              &::before{
                position:absolute;
                left:50%;top:50%;margin:-6px 0 0 -6px;
                background-image: url(../../../static/imgs/sales/common/icon_arrow_swiper.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                text-indent: -999em;
                font-size: 0;
                line-height: 0;
                content: '';
                width: 12px;
                height: 12px;
              }
            }
            &.swiper-button-disabled {
              width:0;height:0;overflow:hidden;
            }
          }
          .swiper-new-prev {left:0;
            .bt{
              &::before{transform:rotate(180deg);}
            }
            &::before{content:'';position:absolute;left:0;top:0;width:24px;height:100%;background-color:$color2;}
            &::after{content:'';width:60px;height:100%;background: linear-gradient(270deg, rgba($color2, 0.00) 0.26%, $color2 99.79%);}
          }
          .swiper-new-next {right:0;
            &::after{content:'';position:absolute;right:0;top:0;width:24px;height:100%;background-color:$color2;}
            &::before{content:'';width:60px;height:100%;background: linear-gradient(270deg, $color2 0.26%, rgba($color2, 0.00) 99.79%);}
          }
        }
      }
    }
    .search-filter{padding-bottom:30px;}
    .list-area{padding:0 32px;}
  }

  // 회원권 소개하기 메인
  &.main-new{background-position:center top;background-repeat:no-repeat;background-size:contain;
    .mainb-cont{padding:60px;
      .copy1{color:$primary1;@include font(18px, 28px, 500);}
      .copy2{color:$primary3;@include font(36px, 44px, 400);
        strong{font-weight:700;}
      }
      .copy3{margin-top:24px;color:$color4;@include font(14px, 22px, 500);
        button{display:flex;align-items:center;color:$color4;@include font(14px, 22px, 500);}
        @include svg-icon('useradd', $size:16, $color:$color4, $url:'common/icon_16.svg', $margin: 0 4px 0 0);
        @include svg-icon('arrowright2', $size:16, $color:$color4, $url:'common/icon_16.svg', $margin: 0 0 0 2px);
      }
      .btns{
        .btn{min-width:148px;height:38px;padding:8px 32px;border:none 0;color:$primary1;@include font(14px, 22px, 700);background-color:#DEEBFF;
          &.point{color:$color2;background-color:$primary1;}
        }
      }
      .banner{margin-top:50px;
        a, img{display:block;}
      }
      .copy1 + .copy2 {margin-top:16px;}
    }
    .main-cont{
      .cont{
        &.logo-cont{padding-bottom:111px;}
      }
      .list-area{padding-bottom:111px;}
    }
    .quickmenu{display:flex;flex-direction:column;align-items:center;position:fixed;bottom:0;left:0;z-index:2;width:100%;
      .menu-box{padding:20px 32px;border-radius:8px 8px 0px 0px;background:rgba($color2, 0.90);
        dl{display:flex;align-items:center;}
        dt{width:96px;color:$color1;@include font(16px, 26px, 700);text-align:left;}
        dd{display:flex;align-items:center;gap:0 20px;
          .item{text-align:center;
            .img{display:block;width:48px;height:48px;margin:0 auto;border-radius:99px;background:rgba(243, 247, 254, 0.80);}
            .text{display:block;min-width:66px;@include font(12px, 17px, 500);margin-top:6px;text-align:center; }
          }
        }
      }
    }
  }
}

.popup{
  &.popupcompare2{
    .btns{
      &.bottom{
        .btn{@include font(16px, 26px, 500);}
        em{margin-top:1px;min-width:23px;height:23px;padding:0;border:none 0;background-color:$green1;color:$color2;}
      }
    }
  }
  // 회원권 추천 필터
  &.popupRecommendFilter{
    align-items: flex-end;
    > .inner {
      width: 100%;
      height: 396px;
      border-radius: 24px 24px 0 0;
    }
    .header{padding:30px 32px;
      > .tit{@include font(24px, 36px, 700);}
    }
    .contents{
      &.scrollbar{
        > .scroll-content{max-height:calc(396px - 96px);padding:0 22px 100px 26px;}
      }
    }
    .tabmenu{
      .tab-ti{
        &.full{
          a{padding:2px 2px 8px;color:$color4;@include font(18px, 28px, 400);
            &.active{padding-bottom:6px;border-color:$primary3;color:$primary3;font-weight:700;}
          }
        }
      }
    }
    .question {@include font(16px, 26px, 500);display: block;position: relative;padding-left: 32px;margin-top:30px;
      small {@include font(12px, 20px, 500);display: inline-block;color: $primary4;}
      @include before-icon(-100px, -200px);
      &::before {left: -12px;transform: translate(0, -50%);}}

    .input-sorting {flex-wrap: wrap;margin-top: 16px;
      label {border-radius: 17px;
        input[type="checkbox"] + span,input[type="radio"] + span {display: block;min-width: 120px;}
      }
    }
    .btns.bottom {
      padding: 12px 32px;
      gap: 8px;
      background-color: $color2;
      border-top: 1px solid $color9;

      .btn:has(.svgicon-refresh) {
        @include svg-icon('refresh', $color:$primary2);
        background-color: $color2;
        .svgicon-refresh {
          vertical-align: top;
          margin:12px 10px 0 0;
        }
      }

      .btn {
        flex: none;
        width: 293px;
      }

      .btn.line {
        color: $primary2;
      }
    }
  }
}

.business{
  &.business-override{
    tr.type {
      td, th {color:$primary4;
        span {color:$primary4;}
      }
    }
    &.registration{
      tr.type {
        td{color:$primary4;}
      }
    }
  }
}

.main{
  &.main-override{
    .sub-title {
      h3 {
        span{
          &.txt{margin-left:0;@include font(18px, 24px, 400);}
        }
      }
    }
    .table{
      .table-body{
        .table-item{
          &.type{color:$primary4;
            strong{color:$primary4;}
          }
        }
      }
      .table-right{
        .table-coloum{
          &.type{
            strong{color:$primary4;}
          }
        }
      }
      &.sale-table {
        .table-header{
          .right{background-color: rgba(243, 247, 254, 0.8);}
        } 
      }
      &.performance-table {
        &::after{
          display: none;
          right:0;
          width:80px;
          box-shadow:none;
          background: linear-gradient(270deg, rgba(255, 255, 255, 0.50) 10%, rgba(255, 255, 255, 0.00) 100%);
        }
        &::before{left:220px;}
				.swiper-button-next{
          right:6px;
					top: 50%;
				}
				.swiper-button-prev {
					left: 230px;
					top: 50%;
				}

				.table-header {
          .table-head:not(.swiper-slide):nth-of-type(1) .table-item {width:223px;}
					.table-head-swiper {
						width: calc(100% - 224px);
						.swiper {
							.swiper-wrapper {
                .type{background-color: rgba(243, 247, 254, 0.80);
                  .txt1{padding-right:0;text-align:right;}
                  .txt2{padding-left:0;text-align:left;}
                }
								.swiper-slide {
									&:nth-of-type(3){
										.table-item {
											&:first-of-type {
												border-right: 1px solid $color9;
											}
										}
                  }
								}
							}
						}
					}
				}
				.table-body {
          .table-left {width:223px}
					.table-swiper {
						width: calc(100% - 224px);
            .swiper .swiper-wrapper .swiper-slide {text-align:center;
              &:last-of-type{text-align:center;}
            }
					}
				}

				.table-footer {
          .table-left {width:223px}
					.table-footer-wrap {
            .table-item:nth-of-type(1) {width:223px;}
						.table-footer-swiper {
							width: calc(100% - 224px);
              text-align:center;
              .swiper .swiper-wrapper .swiper-slide {text-align:center;
                &:last-of-type{text-align:center;}
                &.type1{
                  em{color:$primary3}
                }
                &.type2{
                  em{color:$primary4}
                } 
              }
						}
					}
				}	
			}
    }
    .chart-area{
      .nodata{color:$color3;}
    }
    //vip대시보드
    &.vip{
      //담당자 줄바꿈 관련 추가
      .manager{
        padding-left:6px !important;
        padding-right:6px !important;
        word-break:break-all;
        &.narrow{
          padding-left:3px !important;
          padding-right:3px !important;
        }
      }
    }
  }
}