/**
* --------------------------------
* Override
* --------------------------------
*/

@import
"./abstracts/variables",
"./abstracts/functions",
"./abstracts/mixins";

@mixin ellipsis-multi($line,$lh){display:-webkit-box;-webkit-line-clamp:$line;-webkit-box-orient:vertical;text-overflow:ellipsis;overflow:hidden;max-height:$line*$lh;white-space:normal;}

.membership-override {
  &.application:not(.assignment) {
    .form-entry {
      .tit {padding-top:30px;
        &:first-of-type {padding-top:10px;}
      }
    }
  }
}

.contract-override{
  &.view{
    .membership-list {
      .membership-wrap {
        .contract-info2 {
          .item-title {
            padding: 0 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .btn:has(.svgicon-refresh) {
              background-color: $color2;

              .svgicon-refresh {
                vertical-align: middle;
              }
            }

            >strong {
              display: inline-flex;
              align-items: center;
              font-size: 24px;
              font-weight: 700;
              line-height: 36px
            }
          }
          .info-wrap {
            .payment-info {
              margin-top: 30px;
              border-radius: 12px;
              overflow: hidden;
              border: 1px solid $color7;
              background-color: $color2;

              &:has(.form-entry.cont) {
                > li {
                  &:not(.table-head){
                    flex-direction: column;
                    gap: 0;
                  }
                }
              }

              &.contract {
                overflow: visible;

                > li {
                  justify-content: space-between;
                  gap: 10px;
                  background-color: transparent;

                  &:first-of-type {
                    padding-top:24px;
                  }

                  &.table-head {
                    border-radius: 8px 8px 0 0;
                  }

                  &:has(.wrap) {
                    align-items: flex-start;
                    flex-direction: column;

                    .wrap {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      width: 100%;

                      &::before {
                        content: none;
                      }

                      > span {
                        @include svg-icon('rightangle', 16, $url: 'common/icon_16.svg',$margin: 4px 4px 0 0);
                        display: block;
                        width: 160px;
                        color: #596584;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 22px;

                        .svgicon-rightangle {
                          background: url("/static/imgs/sales/common/icon_16.svg#rightangle");
                        }
                      }
                    }
                  }

                  .right {
                    display: flex;
                    align-items: center;

                    >div:not(.select) {

                      display: inline-block;
                      position: relative;
                      padding-right: 84px;
                      margin-left: 32px;

                      strong {
                        display: inline-block;
                        text-align: center;
                        min-width: 120px;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 30px;
                        @include before-line(1px, 20px, $margin: 5px 0 0 0 ,$color: $color7);

                        &.outstanding {
                          color: #E4AC1B;
                        }
                      }

                      &:has(.btn) {
                        strong {
                          min-width: 120px;
                        }
                      }
                    }

                    .btn {
                      position: absolute;
                      right: 0;
                      top: 50%;
                      margin-top: -15px;
                      width: 84px;
                      padding: 0 12px;
                      height: 30px;
                      line-height: 28px;
                      font-size: 11px;
                      font-weight: 500;
                    }
                  }

                  .select {
                    width: 200px;
                  }

                  .select.full {
                    width : 416px;
                  }

                }

              }

              &.payment {
                > li {
                  &.table-head {
                    > p {
                      color: $color1;

                      strong {
                        margin-right: 2px;
                      }
                    }

                    &.end {
                      > p {
                        color: $primary1;
                      }
                    }
                  }

                  > p {
                    span {
                      font-weight: 600;
                    }
                  }
                }
              }

              > li {
                position: relative;
                display: flex;
                gap: 12px;
                padding: 10px 32px;
                align-items: center;
                background-color: $color2;

                &+li {
                  &::before {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: calc(100% - 64px);
                    display: block;
                    border-top: 1px dashed $color7;
                  }
                }

                &:last-of-type {
                  padding-bottom: 24px;
                  border-radius: 0 0 10px 10px;
                }

                &+.table-head {
                  margin-top: 12px;
                }

                &.table-head {
                  padding: 12px 32px;
                  background-color: $color9;
                  border-top: none;

                  &::before {
                    content: none;
                  }

                  &+.table-head {
                    border-top: 1px solid $color7;
                    margin-top: 0px;
                  }

                  >span {
                    color: $color1;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;

                    strong {
                      color: $primary1;
                    }
                  }

                  > p {
                    color: $primary1;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;

                    strong {
                      font-size: 20px;
                      font-weight: 700;
                      line-height: 30px;
                    }
                  }

                  &+li {
                    margin-top: 14px;

                    &::before {
                      content: none;
                    }
                  }
                }

                &:has(.date) {
                  gap: 0;
                }

                &.point {
                  >span,
                  >p {
                    color: $green4;
                  }
                }

                >span {
                  display: block;
                  width: 160px;
                  color: $color3;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 22px;
                }

                >p {
                  width: calc(100% - 172px);
                  color: $primary2;
                  font-size: 16px;
                  font-weight: 400;
                  line-height: 26px;
                  text-align: right;

                  span {
                    display: inline-block;
                    margin-right: 2px;
                    font-weight: 700;
                  }

                  strong {
                    display: inline-block;
                    font-weight: 700;

                    &+strong {
                      margin-left: 12px;
                    }
                  }

                  &.remittance {
                    color: $green4
                  }
                }

                >div {
                  &+div {
                    @include before-line(1px, 20px,$margin: 2px 0 0 0, $color: $color9);
                  }
                }

                .amount {
                  width: 265px;
                  padding-right: 32px;
                  margin-left: 18px;

                  p {
                    color: $primary2;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    text-align: right;

                    strong {
                      display: inline-block ;
                      font-weight: 700;
                      margin-right: 2px;
                    }
                  }
                }

                .status {
                  display: flex;
                  gap: 12px;
                  padding: 0 32px;
                  width: 216px;
                  align-items: center;
                  justify-content: center;

                  p {
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 22px;
                  }

                  button {
                    @include svg-icon('receiptdetail', 16, $url: 'common/icon_16.svg',$margin: 6px 4px 0 0, $color: $primary2);

                    height: 30px;
                    line-height: 28px;
                    padding: 0 8px;
                    border-color: $color4;
                    font-size: 11px;
                    font-weight: 500;

                    &:disabled {
                      @include svg-icon('receiptdetail', 16, $url: 'common/icon_16.svg',$margin: 6px 4px 0 0, $color: $disable4);
                    }
                  }

                  &.outstanding  {
                    color: #E4AC1B;
                  }
                }

                .date {
                  padding-left: 32px;
                  width: 170px;

                  span {
                    color: $color3;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 22px;
                  }
                }
              }
            }
          }
        }

        .contract-info3 {
          .item-title{align-items:center;
            .btn{padding:11px 12px;background-color: $color2;border-color: $color7;
              .svgicon-refresh{
                width: 16px;
                height: 16px;
                background: url('/static/imgs/sales/common/icon_16.svg#refresh');
              }
            }
          }

          .info-wrap {
            .payment-info {
              margin-top: 30px;
              border-radius: 12px;
              overflow: hidden;
              border: 1px solid $color7;
              background-color: $color2;

              >li {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 10px 32px;
                align-items: flex-start;
                background-color: $color2;

                &+li {
                  &::before {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: calc(100% - 64px);
                    display: block;
                    border-top: 1px dashed $color7;
                  }
                }

                &:last-of-type {
                  padding-bottom: 24px;
                }
                &:first-of-type {
                  padding-top: 24px;
                }

                .head{
                  display:flex;
                  justify-content:flex-end;
                  align-items:center;
                  gap:0 32px;
                  width:100%;
                  .sub-tit{margin-right:auto;max-width:calc(100% - 284px - 64px);font-weight:400;}
                  .select{width:200px;}
                  .btn{width:84px;height:30px;font-size:11px;line-height:28px;
                    &.bt-resend{height:40px;line-height:38px;}
                  }
                }

                .inductees{
                  display:flex;
                  justify-content:flex-end;
                  align-items:center;
                  gap:0 32px;
                  width:100%;
                  &::before{
                    width:7px;height:7px;background-color:transparent;border:1px solid $color3;border-top-width:0;border-right-width:0;top:50%;margin-top:-5px;left:6px;
                  }
                  .name {padding-left:20px;margin-right:auto;max-width:calc(100% - 284px - 64px);color:$color3;}
                  .box{
                    display:flex;
                    justify-content:flex-end;
                    align-items:center;
                    position:relative;
                    min-height:40px;
                    &::before{
                      content:'';width:1px;height:20px;background-color:$color9;position:absolute;left:0;top:50%;margin-top:-10px;
                    }
                    .text{width:120px;text-align:center;}
                    .btn{width:84px;height:30px;font-size:11px;line-height:28px;}
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.membership {
  // 전체보기
  &.total-new{
    .btn{
      &.green{background-color:$green1;border-color:$green1;}
    }
    .btns{
      &.bottom{
        .btn{
          flex: none;
          border-radius: 24px;
          padding: 0 20px;
          background-color: $primary4;
          border-color: #6187FF;
          box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.18);
          em{
            border-color: $color9;
            background-color: $color2;
            color:$primary1;
          }
        }
      }
    }
    .filter-area{
      .form-select{
        .current{
          &.select-bg{background-color:$color10;}
        }
        &.membership {
          .current {
            &::before {
              background-position: -250px -200px;
            }
          }
        }
      }
    }
    .item{text-align:center;
      .thumb-box{position:relative;
        .thumb{display:flex;justify-content:center;height:220px;
          //.img{box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);}
          .img{width:auto;height:220px;}
        }
        .box{position:absolute;right:33px;top:0;display:flex;flex-direction:column;gap:4px 0;}
        .badge{width:36px;height:36px;border-radius:50%;
          border:2px solid #ACF;
          background:$primary3;
          box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);
          display:inline-flex;align-items:center;justify-content:center;
          @include font(12px, 20px, 500);color:$color2;
          &.combine{border-color:$green3;background-color:$green1;}
        }
      }
      .info-box{margin:20px auto 0;
        .name{height:52px;@include font(18px, 26px, 500);color:$color0;display:inline-flex;align-items:center;
          .text{@include ellipsis-multi(2,26px);}
        }
        .price-box{display:flex;justify-content:center;align-items:center;margin-top:8px;
          .price{color:$primary3;@include font(22px, 34px, 700);}
          .won{color:$primary3;@include font(16px, 26px, 500);margin-left:1px;}
          .vat{color:$color4;@include font(12px, 20px, 400);margin-left:2px;}
        }
        .btn-box{display:flex;gap:0 4px;justify-content:center;
          .btn{
            &.check{
              display:inline-flex;justify-content:center;align-items:center;cursor:pointer;
              input[type=checkbox] + span {
                padding-left:24px;
                &::before{
                  content:'';
                  display:inline-flex;width:16px;height:24px;
                  background-image: url(../../../static/imgs/sales/common/compare_check.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  text-indent: -999em;
                  font-size: 0;
                  line-height: 0;
                }
              }
              input[type=checkbox]:checked + span {
                color:$color2;
                &::before{
                  filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(106%) contrast(105%);
                }
              }
            }
            &.small{
              input[type=checkbox] + span {
                padding-left:16px;
                @include font(11px, 24px, 500);
                &::before{
                  width:12px;
                }
              }
            }
          }
          .btn:has(input[type="checkbox"]:checked) {
            color: $color2;
            border-color: $primary2;
            background-color: $primary2;
          }
        }
      }
    }
    .membership-list2{display:flex;flex-direction:column;gap:20px 0;margin:0 32px;
      .wrap{padding:16px 20px;border-radius:12px;background-color:$color2;
        .golf{position:relative;min-height:60px;padding:12px 20px 20px;
          .logo{position:absolute;left:20px;top:50%;transform:translateY(-50%);display:flex;align-items:center;justify-content:center;width:60px;height:60px;overflow:hidden;border-radius:50%;background-color:$color11;text-align:center;
            img{max-width:calc(100% - 14px);}
          }
          .info{display:flex;flex-direction:column;gap:6px 0;width:calc(100% - 200px);margin:0 80px;
            .name{@include font(20px, 30px, 700);color:$color1;}
            .location{display:flex;gap:0 20px;padding:4px 0;
              li{position:relative;@include font(12px, 20px, 400);color:$color3;
                &::before{content:'';position:absolute;left:-16px;top:50%;margin-top:-6px;
                  width: 12px;
                  height: 12px;
                  background: none;
                  background-color: #8f97b2;
                  -webkit-mask-image: url(../../../static/imgs/sales/common/icon_20.svg#arrowright);
                  mask-image: url(../../../static/imgs/sales/common/icon_20.svg#arrowright);
                }
                &:first-child{
                  &::before{display:none;}
                }
                &.last{color:$color0;
                  .total{padding:0 2px;color:$primary4;font-weight:700;}
                }
              }
            }
          }
          .btn-detail{position:absolute;right:20px;top:20px;display:flex;align-items:center;gap:0 2px;
            @include svg-icon('arrowright',12, $color: $color4);
            .text{color:$color4;@include font(11px, 14px, 500);}
          }
        }
        .list{display:flex;flex-wrap:wrap;gap:50px 28px;padding:30px 10px;border-top:1px solid $color8;
          .item{position:relative;width:calc((100% - 56px) / 3);max-width:260px;
            &::before{content:'';position:absolute;bottom:24px;left:50%;z-index:0;transform:translateX(-50%);width:260px;height:260px;border-radius:50%;background-color:$color11;}
            .thumb-box{z-index:1;max-width:260px;padding:14px 0 0;margin:0 auto;}
            .info-box{position:relative;z-index:1;max-width:244px;margin:20px auto 0;
              .btn-box{
                .btn{width:120px;margin:16px 0 0;border-radius:20px;}
              }
            }
            &.combine{
              &::before{background-color:$green2;}
              .thumb-box{
                .box{right:11px;}
              }
            }
          }
        }
      }
    }
    .recommend-area{position:relative;padding:40px 0 0;margin-top:40px;background-color:$color2;
      .title{padding:0 32px;@include font(20px, 30px, 700);color:$color1;}
        .swiper-button-next,
        .swiper-button-prev {
          @include svg-icon('arrowright', 16, $color: $color3, $url: 'common/icon_16.svg');
          margin-top: 0;
          top: 40px;
          left: auto;
          right: 68px;
          background-color: $color2;
          border: 1px solid $color9;
          border-radius: 4px;
          width: 28px;
          height: 28px;

          .svgicon {
            @include position-center;
          }

          &::after {
            content: none;
          }
        }

        .swiper-button-next {
          right: 32px;
          left: auto;
        }

        .swiper-button-prev {
          .svgicon {
            transform: translate(-50%, -50%) rotate(180deg);
          }
        }
      .list{padding:30px 32px;
        .item{width:232px;padding:30px 16px 16px;border-radius:8px;border:1px solid $color9;background-color:$color10;
          .thumb-box{
            .box{right:0;top:-14px;}
          }
          .info-box{
            .name{height:52px;@include font(16px, 24px, 500);}
            .price-box{
              .price{@include font(18px, 28px, 700);}
              .won{@include font(14px, 22px, 500);margin-left:0;}
            }
            .btn-box{margin-top:16px;
              .btn{width:calc(50% - 2px);}
            }
          }
        }
      }
    }
  }

  // 골프장 상세
  &.view-new{
    .tab-area{
      display: flex;
      position:fixed;left:0;top:0;z-index:2;
      width:100%;height:44px;padding:7px 0 7px 10px;
      border-top: 1px solid rgba(0, 35, 148, 0.20);
      border-bottom: 1px solid rgba(255, 255, 255, 0.20);
      background: linear-gradient(90deg, rgba(78, 226, 167, 0.80) 0%, rgba(18, 167, 225, 0.80) 100%);
      .view-select{
        display:flex;gap:0 8px;
        .select{height:28px;
          .dropdown{
            height:28px;
            border-radius: 15px;
            .current{min-width:90px;padding:0 33px 0 12px;border-radius: 15px;background: rgba(255, 255, 255, 0.50);border-width:0;color:$primary3;@include font(12px, 28px, 700);}
            .icon-select {
              @include position(50%, auto, 8px);width: 12px;height: 12px;transition: all .125s ease-in-out;pointer-events: none;margin-top:-6px;
              &::after {
                background-image: url(../../../static/imgs/sales/common/icon-arrow-view.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                text-indent: -999em;
                font-size: 0;
                line-height: 0;
                content: '';
                width: 12px;
                height: 12px;
              }
            }
            .list{
              border-width:0;border-bottom-left-radius:8px;border-bottom-right-radius:8px;
              .option{padding:4px 12px;color:$primary3;@include font(12px, 20px, 400);}
            }
            &.open{
              .current{background:#fff;border-radius:8px;border-bottom-left-radius:0;border-bottom-right-radius:0}
            }
          }
        }
      }
      .view-tab{position:relative;flex : 1 1 auto;width:100%;
        .swiper-button-prev,
        .swiper-button-next {width:36px;height:44px;background-color:rgba($green1, 0.3);
          @include svg-icon('arrowright', 16, $url: $svg20, $color: $color2);
          &::after {display: none;}
          &.swiper-button-disabled {opacity:0;}
        }
        .swiper-button-prev {left:0;
          .svgicon {transform:rotate(180deg);}
        }
        .swiper-button-next {right:0;}
        .swiper-slide{position:relative;width:auto;padding:3px 20px;cursor:pointer;
          &::before{content:'';position:absolute;left:0;top:50%;margin-top:-8px;width:1px;height:16px;background-color:$color2;opacity:.3;}
          &:first-of-type{
            &::before{display:none;}
          }
          .btn-tab{display:block;min-width:108px;color:$color2;@include font(14px, 22px 500);text-align:center;cursor:pointer;opacity:.7;}
          &.swiper-slide-thumb-active{
            .btn-tab{font-weight:700;opacity:1;}
          }
        }
      }
    }
    .detail-area{padding-top:44px;
      .swiper-slide{min-height:calc(100vh - 78px);
        .img + .img{margin-top:34px;}
      }
    }
    .bt-application{
      position:fixed;right:30px;bottom:30px;
      min-width: 205px;
      color: $color2;
      border: 1px solid $green5;
      background-color: $green1;
      box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.15);
      border-radius: 24px;
      z-index: 10;
      opacity: 1;
      transition: opacity 0.6s;

      @include svg-icon('arrowright', 16, $color: $color2);
    }
  }

  // 골프장 추천
  &.recommend-new{
    .title-area {display:flex;justify-content:space-between;align-items:center;
      .tit {color:$color1;}
      .btn {
        @include svg-icon('prospective', 16, $margin: 5px 4px 0 0, $url: $svg16, $color: $color2);
        border-radius:999px;padding:0 12px;
      }
    }
    .recommend-area{
      .btns{
        &.bottom{padding-left:32px;padding-right:32px;border-top:1px solid $color9;}
      }
    }
  }

  .recommends{display:flex;flex-wrap:wrap;gap:16px;
    .item{width:calc((100% - 32px) / 3);max-width:288px;padding:31px 15px 15px;background-color:$color2;border-radius:8px;border: 1px solid $color9;
      .thumb-box {position: relative;
        .thumb {display:flex;justify-content:center;height:220px;
          .img{box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);}
          .img {width:auto;height:220px;}
        }
        .box{position:absolute;right:0;top:-14px;display:flex;flex-direction:column;gap:4px 0;}
        .badge{width:36px;height:36px;border-radius:50%;
          border:2px solid #ACF;
          background:$primary3;
          box-shadow:16px 16px 24px 0px rgba(3, 15, 48, 0.14);
          display:inline-flex;align-items:center;justify-content:center;
          @include font(12px, 20px, 500);color:$color2;
          &.combine{border-color:$green3;background-color:$green1;}
        }
      }
      .info-box {margin:20px auto 0;text-align:center;
        .name {display:flex;align-items:center;max-width:200px;height:52px;margin:0 auto;
          .text {width:100%;
            @include font(16px, 24px, 500);
            color:$color0;
            @include ellipsis-multi(2, 24px);
          }
        }
        .price-box {display:flex;justify-content:center;align-items:center;margin-top:8px;padding:1px 0;
          .price {color:$primary3;@include font(18px, 28px, 700);}
          .won {color:$primary3;@include font(14px, 22px, 500);margin-left:1px;}
          .vat {color:$color4;@include font(11px, 20px, 400);margin-left:2px;}
        }
        .btn-box {display:flex;gap:0 4px;justify-content:center;max-width:200px;margin:16px auto 0;
          .btn {width:calc((100% - 4px) / 2);
            &.check {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              input[type=checkbox] + span {
                padding-left: 24px;
                &::before {
                  content: '';
                  display: inline-flex;
                  width: 16px;
                  height: 24px;
                  background-image: url(../../../static/imgs/sales/common/compare_check.svg);
                  background-repeat: no-repeat;
                  background-size: contain;
                  background-position: center;
                  text-indent: -999em;
                  font-size: 0;
                  line-height: 0;
                }
              }

              input[type=checkbox]:checked + span {
                color: $color2;

                &::before {
                  filter: invert(100%) sepia(100%) saturate(25%) hue-rotate(2deg) brightness(106%) contrast(105%);
                }
              }
            }
            &.small {
              input[type=checkbox] + span {
                padding-left: 16px;
                @include font(11px, 24px, 500);
                &::before {
                  width: 12px;
                }
              }
            }
          }
          .btn:has(input[type="checkbox"]:checked) {
            color: $color2;
            border-color: $primary2;
            background-color: $primary2;
          }
        }
        .tooltip-wrap {margin-top:16px;@include svg-icon('warning', 12, $url: 'common/icon_12.svg',$margin: 4px 4px 0 0, $color: #AB61FF);
          position: relative;
          z-index: 1;
          .hide {display: none;font-size: 0;}
          .btn-tooltip {vertical-align: top;
            color:#AB61FF;
            @include font(12px, 20px, 500);
            &::after {content: none;}
          }
          .tooltip {
            margin-bottom: 0;
            width: 274px;
            bottom: 36px;
            padding: 16px;
            right: auto;
            left: 50%;
            margin-left:-137px;
            border-radius: 12px;
            border: 1px solid $primary4;
            box-shadow: 2px 2px 3px 0px rgba(11, 14, 64, 0.25);
            z-index: 2;

            .tit{
              font-size: 16px;
              font-weight: 700;
              line-height: 26px; 
              text-align: left;

              .btn-close {
                @include svg-icon('close', 16, $url: 'common/icon_20.svg');

                background: none;
                top: 21px;
                right: 16px;
                width: 16px;
                height: 16px;
              }
            }

            .cont {
              p {
                color: $color3;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                text-align: left;
              }
            }
          }
          &.partial{@include svg-icon('warning', 12, $url: 'common/icon_12.svg',$margin: 4px 4px 0 0, $color: #E4AC1B);
            .btn-tooltip{color:#E4AC1B;}
          }
        }
      }
    }
  }

  // 골프장 추천 결과
  &.result-new{
    .btn{
      &.green{background-color:$green1;border-color:$green1;}
    }
    .btns{
      &.bottom{
        .btn{
          flex: none;
          border-radius: 24px;
          padding: 0 20px;
          background-color: $primary4;
          border-color: #6187FF;
          box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.18);
          em{
            border-color: $color9;
            background-color: $color2;
            color:$primary1;
          }
        }
      }
    }
    .title-area {
      .btn {
        @include svg-icon('listallview', 16, $margin: 5px 4px 0 0, $url: $svg16);
        border-radius:999px;padding:0 12px;
      }
    }
    .filter-area{position:relative;flex-direction:column;align-items:center;gap:16px;padding:30px 0;
      &::before{content:'';position:absolute;left:32px;top:0;width:calc(100% - 64px);height:1px;background-color:$color9;}
      .txt-dot {
        @include font(22px, 34px);
        @include after-line(6px, 6px, $color: $primary1);

        display: inline-block;
        padding-right: 8px;

        &::after {
          border-radius: 50%;
          top: auto;
          bottom: 8px;
        }

        strong {
          color: $primary3;
          margin-right: 4px;
        }
      }
      .box{}
    }
    .search-filter{padding-bottom:30px;}
    .list-area{padding:0 32px;}
  }
}

.popup{
  &.popupcompare2{
    .btns{
      &.bottom{
        .btn{@include font(16px, 26px, 500);}
        em{margin-top:1px;min-width:23px;height:23px;padding:0;border:none 0;background-color:$green1;color:$color2;}
      }
    }
  }
  // 회원권 추천 필터
  &.popupRecommendFilter{
    align-items: flex-end;
    > .inner {
      width: 100%;
      height: 400px;
      border-radius: 24px 24px 0 0;
    }
    .btns.bottom {
      padding: 12px 32px;
      gap: 8px;
      background-color: $color2;
      border-top: 1px solid $color9;

      .btn {
        flex: none;
        width: 294px;
      }

      .btn.line {
        color: $primary2;
      }

      em {
        @include font(14px, 22px, 700);

        display: inline-block;
        margin-top: 10px;
        margin-left: 8px;
        padding: 0 6px;
        min-width: 24px;
        height: 24px;
        text-align: center;
        vertical-align: top;
        color: $green4;
        border-radius: 12px;
        background-color: $color2;
      }
    }
  }
}