{{if (context.prop) { <article id="{{prop.id}}" class="popup {{if (context.prop.type) {{{prop.type}}}}} {{if (context.prop.class) {{{prop.class}}}}}">
	<div class="inner">
		{{if (!(context.prop.type === 'alert')&&!(context.prop.type === 'confirm')) {
			<header class="header {{if (!context.prop.header) {disabled}}}">
				<h2 class="tit">{{prop.tit}}</h2>
			</header> }}}
		{{if (prop.id !== 'popupAllMenu') && (context.prop.type !== 'tour'){
			<div class="contents scrollbar">
				<div class="scroll-content">
					{{if (context.prop.content) { {{include('{{prop.content}}')}} }}}
				</div>
			</div> }}} {{if (prop.id === 'popupAllMenu') || (context.prop.type === 'tour') {
			<div class="contents">
				{{if (context.prop.content) { {{include('{{prop.content}}')}} }}}
			</div> }}}
			{{if (!(context.prop.type === 'alert')&&!(context.prop.type === 'confirm')) {
				<button type="button" class="btn-close" onclick="fn.popup('close', this);"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button> }}}
	</div>
</article> }}}
<hr id="{{prop.id}}_end">