<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"> -->
<meta name="viewport" content="width=960">

<meta name="format-detection" content="telephone=no, email=no, address=no">

<meta name="robots" content="index, nofollow">
<meta name="description" content="페이지 설명">
<meta name="keywords" content="키워드, 키워드">

<meta property="og:site_name" content="한케이골프">
<meta property="og:type" content="website">
<meta property="og:title" content="title">
<meta property="og:image" content="image">
<meta property="og:url" content="url입력">
<meta property="og:description" content="페이지 설명">

<link rel="shortcut icon" type="image/x-icon" href="../../../imgs/sales/common/favicon.ico">
<link rel="apple-touch-icon" href="../../../imgs/sales/common/apple-touch-icon.png">

<!-- 공통 css, js -->
<link rel="stylesheet" href="../../../css/sales/lib/jquery-ui.min.css">
<link rel="stylesheet" href="../../../css/sales/lib/swiper-bundle.min.css">
<link rel="stylesheet" href="../../../css/sales/common.css">
<script src="../../../jscript/sales/lib/jquery-3.6.4.min.js"></script>
<script src="../../../jscript/sales/lib/jquery-ui.min.js"></script>
<script src="../../../jscript/sales/lib/jquery.ui.touch-punch.min.js"></script>
<script src="../../../jscript/sales/lib/swiper-bundle.min.js"></script>
{{if (prop.depth1 === 'main' || prop.depth1 === 'business') {
	<script src="../../../jscript/sales/lib/chart.min.js"></script>
}}}	{{if ((prop.depth1 !== 'member') && (prop.depth1 !== 'notice')) {
	<script src="../../../jscript/sales/lib/moment.min.js"></script>
	<script src="../../../jscript/sales/lib/daterangepicker.js"></script>
}}}
<script src="../../../jscript/sales/function.ui.js"></script>
<script src="../../../jscript/sales/common.ui.js"></script>

<!-- 페이지별 css, js -->
{{if (prop.depth1) {
<link rel="stylesheet" href="../../../css/sales/{{prop.depth1}}.css">
}}}

{{if (prop.depth1 === 'main') {
<title>한케이골프</title>
}}}

{{if (prop.depth1 !== 'main') {
<title>{{if (prop.depth3Name != '') {{{prop.depth3Name}} - }}} {{if (prop.depth2Name != '') { {{prop.depth2Name}} - }}} 한케이골프</title>
}}}
