<header id="header">
	<div class="inner">
		<h1 class="logo"><a href="#"><span class="blind">Han k Golf For Sales</span></a></h1>

			<div class="tab-swiper">
				<div class="swiper">
					<div class="swiper-wrapper">
					<!-- 2024.12.08 : 리뷰를 위한 수정 중. // -->

						<!-- {{if (prop.depth1 !== 'main') {
							<!- -
								.tab-swiper > .swiper-slide append, remove 후 swiper update를 위해 호출

								default(첫번째 버튼 활성화):  fn.headerTabSwiper();
								n번째 버튼 활성화: fn.headerTabSwiper(n-1);
							- ->
							<div class="swiper-slide">
								<a href="#" class="active">{{ prop.depth1Name }}</a><! -- 활성화 class="active" -- >
								<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
							</div>
						}}} -->
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '회원권 소개') {
								<a href="../membership/total.html" class="active">회원권 소개</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(0, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '회원권 소개') {
								<a href="../membership/total.html">회원권 소개</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '회원권 양도 목록') {
								<a href="../membership/assignment.html" class="active">회원권 양도 목록</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(1, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '회원권 양도 목록') {
								<a href="../membership/assignment.html">회원권 양도 목록</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '양수자 관리 목록') {
								<a href="../membership/management_list.html" class="active">양수자 관리 목록</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(2, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '양수자 관리 목록') {
								<a href="../membership/management_list.html">양수자 관리 목록</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '입회신청서') {
								<a href="../membership/application_form.html" class="active">입회신청서</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(3, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '입회신청서') {
								<a href="../membership/application_form.html">입회신청서</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '가망고객 관리') {
								<a href="../customer/prospective.html" class="active">가망고객 관리</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(4, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '가망고객 관리') {
								<a href="../customer/prospective.html">가망고객 관리</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '담당고객 관리') {
								<a href="../customer/incharge.html" class="active">담당고객 관리</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(5, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '담당고객 관리') {
								<a href="../customer/incharge.html">담당고객 관리</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '계약관리') {
								<a href="../contract/list.html" class="active">계약관리</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(6, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '계약관리') {
								<a href="../contract/list.html">계약관리</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '전체일정관리') {
								<a href="../activity/team.html" class="active">전체일정관리</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(7, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '전체일정관리') {
								<a href="../activity/team.html">전체일정관리</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '영업활동분석') {
								<a href="../business/index.html" class="active">영업활동분석</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(8, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '영업활동분석') {
								<a href="../business/index.html">영업활동분석</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '투어현황관리') {
								<a href="../tour/list.html" class="active">투어현황관리</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(9, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '투어현황관리') {
								<a href="../tour/list.html">투어현황관리</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '고객문의 관리') {
								<a href="../contact/list.html" class="active">고객문의 관리</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(10, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '고객문의 관리') {
								<a href="../contact/list.html">고객문의 관리</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
						<div class="swiper-slide">
							{{ if (prop.depth1Name === '대시보드') {
								<a href="../main/index.html" class="active">대시보드</a>
								<script>window.addEventListener('load', () => setTimeout(() => fn.headerTabSwiper(11, 'load')));</script>
							}}} {{ if (prop.depth1Name !== '대시보드') {
								<a href="../main/index.html">대시보드</a>
							}}}
							<button type="button" class="btn-close"><span class="blind">닫기</span><i class="svgicon svgicon-close"></i></button>
						</div>
					<!-- // 2024.12.08 : 리뷰를 위한 수정 중. -->
					</div>
				</div>
			</div>

		<div class="util">
			<div class="toggle-area">
				<label class="check-toggle">
					<strong class="toggle-txt on">영업활동 ON</strong>
					<input type="checkbox" name="">
					<strong class="toggle-txt off">영업활동 OFF</strong>
				</label>
			</div>
			<button type="button" class="btn-masking" onclick="fn.toggleActive(this)"><span class="blind">마스킹해제</span></button><!-- 활성화 class="active" -->
			<button type="button" class="btn-allmenu" onclick="fn.popup('open', '#popupAllMenu');"><span class="blind">전체 메뉴</span></button>
		</div>
	</div>
</header>